:root {
  font-family: "Silkscreen", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: -3px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bg-grad {
  background: rgb(83, 83, 83);
  background: -moz-radial-gradient(
    circle,
    rgba(83, 83, 83, 1) 0%,
    rgba(42, 42, 42, 1) 58%,
    rgba(20, 20, 20, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgb(35, 35, 35) 0%,
    rgba(42, 42, 42, 1) 58%,
    rgba(20, 20, 20, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgb(58, 56, 56) 0%,
    rgba(42, 42, 42, 1) 58%,
    rgba(20, 20, 20, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#535353",endColorstr="#141414",GradientType=1);
}

.app-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  color: #edf0f2;
  font-weight: 300;
  overflow: hidden;
}
.content {
  padding: 5vh 10vw;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.row {
  display: flex;
  justify-content: baseline;
  align-items: center;
  height: 8vh;
  font-size: clamp(14, 2vh, 42px);
}
.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  height: 100%;
  font-size: clamp(14px, 2vh, 42px);
}
.logo-cont {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100%;
  width: 100%;
  /* margin-top: -25%; */
}

.text {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
  text-align: center;
  text-shadow: 1px 1px 70px black;
  font-weight: 700;
}
svg {
  display: block;
  max-height: 100%;
}
.text > div:nth-child(1) {
  font-size: clamp(14px, 2vh, 58px);
}
.text > div:nth-child(3) {
  font-size: clamp(14px, 2.5vh, 58px);
}

.text > div:nth-child(4) {
  font-size: clamp(14px, 1.5vh, 58px);
  font-weight: 300;
}

.text > span {
  font-size: 15px;
  font-weight: 300;
}
.connect {
  border-radius: 3px;
  background-color: #a3c60a;
  border: 1px solid #5d8605;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Silkscreen", sans-serif;
  text-decoration: none;
  border: none;
  height: 35px;
  width: 150px;
  cursor: pointer;
}
button:hover {
  scale: 1.05;
  transition: all 200ms linear;

  filter: brightness(1.1);
}
button > svg {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.mint-button-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.mint-button-container > button {
  width: 20%;
}

.info {
  display: flex;
  flex-direction: column;
}
@keyframes warningAnimation {
  0% {
    color: red;
  }
  50% {
    color: white;
  }
  100% {
    color: red;
  }
}
.error-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.warning-text {
  animation: warningAnimation 1.5s infinite;
}
.success-text {
  color: greenyellow;
}
@media (max-width: 450px) {
  .content {
    padding: 5vh 2vw;
    gap: 0;
  }
  .logo {
    gap: 3rem;
  }
}
